{layout name="Public/layout" /}
<body class="childrenBody">
	<form class="layui-form">
                <div class="layui-form-item">
			<label class="layui-form-label">昵称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input nickname" name='nickname' lay-verify="required" placeholder="请输入昵称">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input name" name='username' lay-verify="required" placeholder="请输入用户名">
			</div>
		</div>
                <div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<div class="layui-input-block">
                                <input type="password" name="password" required="" id="passwrod" lay-verify="required|pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
				
			</div>
		</div>
                <div class="layui-form-item">
			<label class="layui-form-label">确认密码</label>
			<div class="layui-input-block">
                                <input type="password" name="rpassword" required="" id="rpasswrod" lay-verify="required|pass|rpass" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
				
			</div>
		</div>
                <div class="layui-form-item">
			<label class="layui-form-label">电话</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input phone" name='phone' placeholder="请输入电话">
			</div>
		</div>
                <div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
                                <input class="status" type="checkbox" lay-skin="switch" lay-text="启用|禁用" lay-filter="isShow" checked>
                                <input id="status" type="hidden" name="status" value="1"/>
			</div>
		</div>
                <div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">角色权限</label>
				<div class="layui-input-inline">
					<select name="group_id" lay-filter="browseLook">
                                            {volist name='group' id='it'}
                                                <option value="{$it.id}">{$it.title}</option>
                                            {/volist}
                                        </select>
				</div>
			</div>
		</div>
                <div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
                            <textarea name="remarks" placeholder="请输入备注" class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addNews">添加</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
    <script type="text/javascript">
        layui.config({
                base : "admin/js/"
        }).use(['form','layer','jquery'],function(){
                var form = layui.form(),
                        layer = parent.layer === undefined ? layui.layer : parent.layer,
                        $ = layui.jquery;
              form.verify({
                        rpass:function(value){
                            if($('#passwrod').val() != $('#rpasswrod').val()){
                                return '两次密码不一致';
                            }
                        }
                        ,pass: [
                          /^[\S]{6,18}$/
                          ,'密码必须6到18位，且不能出现空格'
                        ] 
                  });      
                  form.on('switch(isShow)', function(data){
                        var status=1;
                        $(this).is(":checked")?status=1:status=2;
                        $('#status').val(status);
                  })
                form.on("submit(addNews)",function(data){
                        //弹出loading
                        var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
                        $.ajax({
                            type: "POST",
                            url: "{:url('Member/saveData')}",
                            data: $("form").serialize(),
                            dataType: "json",
                            success: function(data){
                                top.layer.close(index);
                                if(data.status == 1){
                                    top.layer.msg(data.msg,{icon: 6});
                                    layer.closeAll("iframe");
                                    parent.location.reload();
                                }else{
                                    top.layer.msg(data.msg,{icon: 5,btn: ['知道了']});
                                }
                            }
                        });
                        return false;
                })
        })
    </script>
</body>
</html>