{layout name="Public/layout" /}
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal newsAdd_btn">添加菜单</a>
		</div>
		<div class="layui-inline">
			<div class="layui-form-mid layui-word-aux">本页面刷新后除新添加的外所有操作无效，关闭页面所有数据重置</div>
		</div>
	</blockquote>
	<div class="layui-form news_list">
	  	<table class="layui-table">
		    <colgroup>
				<col width="50">
				<col width="9%">
				<col width="20%">
				<col width="9%">
				<col width="9%">
				<col width="9%">
				<col>
		    </colgroup>
		    <thead>
				<tr>
					<th>#</th>
					<th>菜单</th>
					<th>链接地址</th>
					<th>权限标识</th>
					<th>状态</th>
					<th>排序</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="news_content"></tbody>
		</table>
	</div>
	<div id="page"></div>
        <script type="text/javascript">
            var dataUrl="{:url('menu/getList')}";
            layui.config({
                    base : "admin/js/"
            }).use(['form','layer','jquery','laypage'],function(){
                    var form = layui.form(),
                            layer = parent.layer === undefined ? layui.layer : parent.layer,
                            laypage = layui.laypage,
                            $ = layui.jquery;
                    
                    //加载页面数据
                    var newsData = '';
                    $.ajax({
                        type: "POST",
                        url: dataUrl,
                        data: {},
                        dataType: "json",
                        success: function(data){
                                       if(data.status == 1){
                                           var newArray = [];
                                           //正常加载信息
                                           newsData = data.data;
                                           //执行加载数据的方法
                                           newsList();
                                       }else{
                                           layer.msg(data.msg);
                                       }
                                 }
                    });
                    
                    //添加文章
                    //改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
                    $(window).one("resize",function(){
                            $(".newsAdd_btn").click(function(){
                                    var add = layui.layer.open({
                                            title : "添加菜单",
                                            type : 2,
                                            maxmin :true,
                                            area:  ['800px', '500px'],
                                            content : "{:url('menu/add')}",
                                            success : function(layero, index){
                                                    /*setTimeout(function(){
                                                            layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                                                                    tips: 3
                                                            });
                                                    },500)*/
                                            }
                                    })			
                                   // layui.layer.full(add);
                            })
                            $("body").on("click",".news_edit",function(){  //编辑
                                    var id = $(this).attr('data-id');
                                    var edit = layui.layer.open({
                                            title : "修改菜单",
                                            type : 2,
                                            maxmin :true,
                                            area:  ['800px', '500px'],
                                            content : "{:url('menu/edit')}?id="+id,
                                            success : function(layero, index){
                                                    /*setTimeout(function(){
                                                            layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                                                                    tips: 3
                                                            });
                                                    },500)*/
                                            }
                                    })			
                                    //layui.layer.full(edit);
                            })
                        
                    }).resize();
                    
                    //删除
                    $("body").on("click",".news_del",function(){  //删除
                            var id = $(this).attr('data-id');
                            var _this = $(this);
                            layer.confirm('确定删除此信息？',{icon:3, title:'提示信息'},function(index){
                                   $.ajax({
                                        type: "POST",
                                        url: "{:url('Menu/del')}",
                                        data: {id:id},
                                        dataType: "json",
                                        success: function(data){
                                                    if(data.status == 1){
                                                        _this.parents("tr").remove();
                                                        layer.close(index);
                                                        layer.msg(data.msg, {icon: 6});
                                                    }else{
                                                        layer.close(index);
                                                        layer.msg(data.msg, {
                                                            icon: 5
                                                            ,btn: ['知道了']
                                                          });
                                                    }
                                                 }
                                    });
                                    
                            });
                    })
        
                    //是否禁用
                    form.on('switch(isShow)', function(data){
                            var index = layer.msg('修改中，请稍候',{icon: 16,time:false,shade:0.8});
                            var id = $(this).attr('data-id');
                            var status=1;
                            $(this).is(":checked")?status=1:status=2;
                            $.ajax({
                                type: "GET",
                                url: '{:url("menu/editStatus")}',
                                data: {id:id,status:status},
                                dataType: "json",
                                success: function(data){
                                    if(data.status == 1){
                                        layer.close(index);
                                        layer.msg('修改成功', {icon: 6});
                                    }else{
                                        layer.close(index);
                                        layer.msg(data.msg, {
                                            icon: 5
                                            ,btn: ['知道了']
                                          });
                                    }
                                }
                            });
                    })
                    
                    function newsList(that){
                            //渲染数据
                            function renderDate(data){
                                    var dataHtml = '';
                                    if(data.length != 0){
                                            var i=0;
                                            $.each(data,function(index,content){
                                                var pstatus='';
                                                if(content.status == 1){
                                                    var pstatus='checked';
                                                }
                                                i+=1;
                                                //父级
                                                dataHtml += '<tr style="background-color: #f9f9f9">'
                                                            +'<td>'+i+'</td>'
                                                            +'<td><i class="layui-icon" data-icon="'+content.icon+'">'+content.icon+'</i> '+content.name+'</td>'
                                                            +'<td>'+content.herf+'</td>'
                                                            +'<td>'+content.rule_name+'</td>'
                                                            +'<td><input type="checkbox" name="show" lay-skin="switch" lay-text="启用|禁用" lay-filter="isShow"'+pstatus+' data-id="'+content.id+'"></td>';
                                                
                                                dataHtml += '<td>'+content.sort+'</td>'
                                                            +'<td>'
                                                            +  '<a class="layui-btn layui-btn-mini news_edit" data-id="'+content.id+'"><i class="iconfont icon-edit"></i> 编辑</a>'
                                                            +  '<a class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="'+content.id+'"><i class="layui-icon">&#xe640;</i> 删除</a>'
                                                            +'</td>'
                                                            +'</tr>';
                                                    
                                                            //子级
                                                            if(content.childs.length != 0){
                                                                $.each(content.childs,function(ck,cv){
                                                                    i+=1;
                                                                    var cstatus='';
                                                                    if(cv.status == 1){
                                                                        var cstatus='checked';
                                                                    }
                                                                    dataHtml += '<tr>'
                                                                        +'<td>'+i+'</td>'
                                                                        +'<td> &nbsp;&nbsp;'+cv.lab+' &nbsp;&nbsp;<i class="layui-icon" data-icon="'+cv.icon+'">'+cv.icon+'</i> '+cv.name+'</td>'
                                                                        +'<td>'+cv.herf+'</td>'
                                                                        +'<td>'+cv.rule_name+'</td>'
                                                                        +'<td><input type="checkbox" name="show" lay-skin="switch" lay-text="启用|禁用" lay-filter="isShow"'+cstatus+' data-id="'+cv.id+'"></td>';
                                                                
                                                                    dataHtml += '<td>'+cv.sort+'</td>'
                                                                        +'<td>'
                                                                                +  '<a class="layui-btn layui-btn-mini news_edit" data-id="'+cv.id+'"><i class="iconfont icon-edit"></i> 编辑</a>'
                                                                                +  '<a class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="'+cv.id+'"><i class="layui-icon">&#xe640;</i> 删除</a>'
                                                                        +'</td>'
                                                                        +'</tr>';
                                                                })
                                                            }
                                            });
                           
                                    }else{
                                            dataHtml = '<tr><td colspan="8">暂无数据</td></tr>';
                                    }
                                return dataHtml;
                            }
                            
                            $(".news_content").html(renderDate(newsData));
                            $('.news_list thead input[type="checkbox"]').prop("checked",false);
                            form.render();
                    }
            })

        </script>
</body>
</html>