{layout name="Public/layout" /}
<body class="childrenBody">
	<form class="layui-form">
            <input type="hidden" value="{$data.id}" name="id"/>
		<div class="layui-form-item">
			<label class="layui-form-label">颜色</label>
			<div class="layui-input-block">
                            <input type="text" class="layui-input name" name='color' lay-verify="required" placeholder="请输入颜色16进制值" value="{$data.color}">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addNews">保存</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
    <script type="text/javascript">
        layui.config({
                base : "admin/js/"
        }).use(['form','layer','jquery'],function(){
                var form = layui.form(),
                        layer = parent.layer === undefined ? layui.layer : parent.layer,
                        $ = layui.jquery;
               
                form.on("submit(addNews)",function(data){
                        //弹出loading
                        var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
                        $.ajax({
                            type: "POST",
                            url: "{:url('Advert/saveColor')}",
                            data: $("form").serialize(),
                            dataType: "json",
                            success: function(data){
                                top.layer.close(index);
                                if(data.status == 1){
                                    top.layer.msg(data.msg,{icon: 6});
                                    layer.closeAll("iframe");
                                    parent.location.reload();
                                }else{
                                    top.layer.msg(data.msg,{icon: 5,btn: ['知道了']});
                                }
                            }
                        });
                        return false;
                })
        })
    </script>
</body>
</html>