{layout name="Public/layout" /}
<body class="childrenBody">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">标题</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input name" name='title' lay-verify="required" placeholder="请输入标题">
			</div>
		</div>
                <div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
                                <input class="status" type="checkbox" lay-skin="switch" lay-text="启用|禁用" lay-filter="isShow" checked name="status">
                                <input id="status" type="hidden" name="status" value="1"/>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addNews">添加</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
    <script type="text/javascript">
        layui.config({
                base : "admin/js/"
        }).use(['form','layer','jquery'],function(){
                var form = layui.form(),
                        layer = parent.layer === undefined ? layui.layer : parent.layer,
                    
                        $ = layui.jquery;

                var addNewsArray = [],addNews;
                form.on('switch(isShow)', function(data){
                        var status=1;
                        $(this).is(":checked")?status=1:status=2;
                        $('#status').val(status);
                  })
                form.on("submit(addNews)",function(data){
                        //弹出loading
                        var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
                        $('.status').is(":checked")?$('#status').val(1):$('#status').val(2);
                        $.ajax({
                            type: "POST",
                            url: "{:url('Extenddisplay/saveData')}",
                            data: $("form").serialize(),
                            dataType: "json",
                            success: function(data){
                                top.layer.close(index);
                                if(data.status == 1){
                                    top.layer.msg(data.msg,{icon: 6});
                                    layer.closeAll("iframe");
                                    parent.location.reload();
                                }else{
                                    top.layer.msg(data.msg,{icon: 5,btn: ['知道了']});
                                }
                            }
                        });
                        return false;
                })
        })
    </script>
</body>
</html>